// colors
$orange: #ff5000;
$orange-light: #ff9000;
$red: #c30c00;
$black: #000000;
$white: #ffffff;

$link-primary: $orange;
$link-secondary: $white;
$link-tertiary: $black;
$link-hover: $red;


// font size
$fs-10: 1rem;
$fs-12: 1.2rem;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-20: 2rem;
$fs-22: 2.2rem;

// font family
$font-primary: 'Noto Sans', sans-serif;
$font-secondary: 'Kanit', sans-serif;

// font weight
$font-4: 400;
$font-7: 700;
$font-9: 900;


// size
$screen-width: 100vw;
$screen-height: 100vh;